/* @font-face {
  font-family: 'Source Serif Pro';
  src: url('./fonts/Source_Serif_Pro/source-serif-pro-v15-latin-regular.woff') format('woff'),
       url('./fonts/Source_Serif_Pro/source-serif-pro-v15-latin-regular.woff2') format('woff2'),
} */

body {
  background: #fdfdfd;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#center-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

#centered-container {
  width: min(95vw, 95vh);
  height: calc(min(95vw, 95vh) - 50px);
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 5%; */
}

#container {
  width: min(95vw, 95vh);
  height: calc(min(95vw, 95vh) - 50px);
  position: absolute;
}

#display-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#display {
  aspect-ratio: 1;
  min-width: 0;
  z-index: -1;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: "Source Serif Pro";
  vertical-align: middle;
}

#progress-bars {
  aspect-ratio: 1;
  min-width: 0;
  z-index: 1;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  vertical-align: middle;
}

.progress {
  position: absolute;
  width: auto;
  height: auto;
  aspect-ratio: 1/1;
  position: absolute;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
}

#progress0 {
  z-index: 0;
}

#progress1 {
  z-index: 1;
}

#progress2 {
  z-index: 2;
}

#progress3 {
  z-index: 3;
}

#progress4 {
  z-index: 4;
}

.word {
  opacity: .3;
  transition: background-color .5s linear;
  transition: opacity .6s ease-in-out;
  -webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
}

.word.visible {
  opacity: 1;
}

.word.outgoing {
  background-color: #fbb;
}

.word.incoming {
  background-color: #bbf;
}

.word.outgoing {
  background-color: #fbb;
}

.word.incoming {
  background-color: #bbf;
}

.max-word-spacing {
  background-color: #ffd;
  border: solid #eee;
  border-width: thin;
}

.min-word-spacing {
  background-color: #eff;
  border: solid #eee;
  border-width: thin;
}

#text-display {
  border-radius: 50%;
  /* background: linear-gradient(135deg, #a7cfdf 0%, #275d9b 100%); */
  /* box-shadow: inset -8px -7px 4px 0px rgba(0, 0, 0, 0.3); */
  position: absolute;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
}

#stats {
  max-width: 98vw;
  height: 21px;
  font-size: 14px;
  font-family: "lucida console", monospace;
  line-height: 1.5;
  color: #697486;
  border: solid #eee;
  border-width: thin;
  padding: 5px;
  margin-top: 35px;
  margin-bottom: 5px;
  text-align: center;
  display: none;
  /* start hidden */
}

.found {
  /* transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); */
}

.shared-urban {
  /* transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); */
}

.shared-rural {
  /* transform: translate(50%, 0%) scaleX(-1);
  -webkit-transform: translate(50%, 0%) scaleX(-1);
  -moz-transform: translate(50%, 0%) scaleX(-1); */
}

.rural {
  /* transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); */
}

.rural-legend {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.urban {
  /* transform: translate(50%, 0%) scaleX(-1);
  -webkit-transform: translate(50%, 0%) scaleX(-1);
  -moz-transform: translate(50%, 0%) scaleX(-1); */
}

.urban-legend {
  width: 20px;
  height: 20px;
  top: 20px;
  display: inline-block;
}

.overlap-legend {
  width: 20px;
  height: 20px;
  top: 20px;
  display: inline-block;
}

.line {
  width: 100%;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

#legend {
  display: none;
  position: absolute;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  user-select: none;
}

#three-bar-icon {
  position: absolute;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  user-select: none;
}

#icon-wrapper {
  color: #B3B3B3;
  position: fixed;
  bottom: 102.6%;
  left: 0;
  cursor: pointer;
  height: 5%;
}

#icon-wrapper svg {
  margin: 15px 0 0 0;
}

#icon-wrapper :hover {
  color: #777777;
}

#legend-container {
  aspect-ratio: 1;
  min-width: 0;
  z-index: 5;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  font-family: "Source Serif Pro";
  vertical-align: middle;
}

#icon-container {
  aspect-ratio: 1;
  min-width: 0;
  z-index: 6;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.legend-content {
  color: #B3B3B3;
  position: fixed;
  bottom: -20px;
  right: -70px;
}

.legend-content div {
  font-family: "helvetica";
  font-size: 19px;
  margin: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
}

.legend-content div span {
  vertical-align: middle;
  margin-left: 10px;
}

.hidden-legend {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  bottom: 102.6%;
  right: 0;
  /* background-color: rgba(255, 255, 255, 0.8); */
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  /* padding-left: 500%;
  padding-right: 500%;
  margin-left: -500%;
  margin-right: -500%; */
}

.hidden-legend-v {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 100;
}

.hidden-legend div {
  margin-left: 10px;
  margin-right: 10px;
}

.display-none {
  display: none;
}

.hide-cursor {
  cursor: none;
}

#about-button {
  width: 25px;
  height: 25px;
  top: 27.5px;
  display: inline-block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#about-button svg {
  margin: 0;
  padding: 0;
}

/* 
@-ms-viewport{
  width: device-width;
} */


/* ======================== about dialog =========================== */

@media only screen and (max-width: 460px) {
  #about {
    width: 90% !important;
    padding: 0 !important;
  }

  #aboutDescription {
    padding: 10px !important;
    margin-top: 10px !important;
  }

  #aboutDescription p {
    overflow-wrap: break-word;
  }
}

#about {
  z-index: 11;
  background-color: #fff !important;
  color: #000 !important;
  padding: 2em;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5em;
  width: 400px;
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#about-background {
  z-index: 11;
  background-color: #000;
  opacity: 0.6;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

#about-container {
  display: none;
}

#about a {
  text-decoration: none;
  color: #666;
}

#aboutAuthor {
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
}

#aboutAuthor a:hover {
  color: darkgray;
}

#aboutTitle {
  font-size: 1.5em;
  margin-top: 1.5em;
  text-align: center;
}

#aboutDescription {
  padding-left: 35px;
  padding-right: 15px;
  margin: 30px 0px 0px 0;
  max-width: 320px;
}

#aboutClose {
  margin-top: 20px;
  text-align: center;
}

#aboutClose a {
  color: #666;
}

#aboutClose img {
  width: 60px;
}

#aboutClose a:hover {
  color: darkred;
}

.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  max-width: 500px;
  box-sizing: border-box;
  width: 90%;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px #222;
  -moz-box-shadow: 0 0 5px #222;
  -o-box-shadow: 0 0 5px #222;
  -ms-box-shadow: 0 0 5px #222;
  box-shadow: 0 0 5px #222;
  text-align: left;
}

.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAA3hJREFUaAXlm8+K00Acx7MiCIJH/yw+gA9g25O49SL4AO3Bp1jw5NvktC+wF88qevK4BU97EmzxUBCEolK/n5gp3W6TTJPfpNPNF37MNsl85/vN/DaTmU6PknC4K+pniqeKJ3k8UnkvDxXJzzy+q/yaxxeVHxW/FNHjgRSeKt4rFoplzaAuHHDBGR2eS9G54reirsmienDCTRt7xwsp+KAoEmt9nLaGitZxrBbPFNaGfPloGw2t4JVamSt8xYW6Dg1oCYo3Yv+rCGViV160oMkcd8SYKnYV1Nb1aEOjCe6L5ZOiLfF120EjWhuBu3YIZt1NQmujnk5F4MgOpURzLfAwOBSTmzp3fpDxuI/pabxpqOoz2r2HLAb0GMbZKlNV5/Hg9XJypguryA7lPF5KMdTZQzHjqxNPhWhzIuAruOl1eNqKEx1tSh5rfbxdw7mOxCq4qS68ZTjKS1YVvilu559vWvFHhh4rZrdyZ69Vmpgdj8fJbDZLJpNJ0uv1cnr/gjrUhQMuI+ANjyuwftQ0bbL6Erp0mM/ny8Fg4M3LtdRxgMtKl3jwmIHVxYXChFy94/Rmpa/pTbNUhstKV+4Rr8lLQ9KlUvJKLyG8yvQ2s9SBy1Jb7jV5a0yapfF6apaZLjLLcWtd4sNrmJUMHyM+1xibTjH82Zh01TNlhsrOhdKTe00uAzZQmN6+KW+sDa/JD2PSVQ873m29yf+1Q9VDzfEYlHi1G5LKBBWZbtEsHbFwb1oYDwr1ZiF/2bnCSg1OBE/pfr9/bWx26UxJL3ONPISOLKUvQza0LZUxSKyjpdTGa/vDEr25rddbMM0Q3O6Lx3rqFvU+x6UrRKQY7tyrZecmD9FODy8uLizTmilwNj0kraNcAJhOp5aGVwsAGD5VmJBrWWbJSgWT9zrzWepQF47RaGSiKfeGx6Szi3gzmX/HHbihwBser4B9UJYpFBNX4R6vTn3VQnez0SymnrHQMsRYGTr1dSk34ljRqS/EMd2pLQ8YBp3a1PLfcqCpo8gtHkZFHKkTX6fs3MY0blKnth66rKCnU0VRGu37ONrQaA4eZDFtWAu2fXj9zjFkxTBOo8F7t926gTp/83Kyzzcy2kZD6xiqxTYnHLRFm3vHiRSwNSjkz3hoIzo8lCKWUlg/YtGs7tObunDAZfpDLbfEI15zsEIY3U/x/gHHc/G1zltnAgAAAABJRU5ErkJggg==);
}

.shadow {
  background-color: #000;
  color: white;
}